@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200;1,300;1,400;1,500;1,700&display=swap");
:root {
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --dark-green: #050f09;
  --white-text: #fff;
  --brown-bg: #f2ab73;
  --dark-orange-bg: #c84c3c;
  --rose-bg: #fab1b1;
  --hover-text: #c4c3c3;
}

html,
body {
  height: 100%;
  width: 100%;
  /* overflow-x: hidden; */
  /* overflow: hidden; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.app {
  > nav {
    width: 100%;
    padding: 1rem 3rem;
    background: var(--dark-green);
    font-family: "Plus Jakarta Sans", sans-serif;

    > ul {
      display: flex;
      list-style: none;
      padding: 0;
      justify-content: space-between;
      align-items: center;
      font-family: inherit;

      > * li {
        overflow: hidden;
      }
      > * > li > a {
        text-decoration: none;
        color: var(--white-text);
        transition: all 0.5s ease-in-out;
        font-family: inherit;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        position: relative;

        &:hover {
          color: var(--hover-text);

          .original {
            transform: translateY(-100%);
            animation: blink forwards linear 0.3s;
          }

          .copy {
            top: 0;
            animation: blink forwards linear 1s;
          }
        }

        .original {
          transform: translateY(0%);
          transition: all 0.15s ease-in-out;
        }
        .copy {
          position: absolute;
          top: 100%;
          transition: all 0.15s ease-in-out;
        }
      }

      .nav-logo {
        font-size: 2.5rem;
      }

      .left-nav {
        display: flex;
        justify-content: space-between;

        > * {
          margin-right: 1rem;
        }
      }

      .btn-1 {
        background-color: #afafafbe;
        padding: 0.5rem;
        text-transform: capitalize;
        border-radius: 2px;
      }
    }
  }

  .section-1 {
    height: 100vh;
    background: var(--dark-green);
    position: relative;

    .image-container {
      position: relative;
      padding: 3rem 9rem;
      width: 100%;
      height: 100%;
      z-index: 3;

      > div {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;

        > img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        .rect {
          height: 100%;
          width: 12rem;
          position: absolute;
          top: 0;
          left: -25%;
          transform-origin: right;
          background-color: var(--white-text);
        }
      }
      > p {
        font-size: 3rem;
        text-align: center;
        top: 50%;
        left: 50%;
        z-index: 2;
        position: absolute;
        transform: translate(-50%, -50%);
        font-family: "Plus Jakarta Sans", sans-serif;
        color: var(--white-text);
        pointer-events: none;

        > em {
          font-weight: 500;
        }
      }
    }

    .outer-text {
      display: flex;
      height: 100%;
      align-items: center;
      font-size: 6rem;
      letter-spacing: 2.5px;
      position: absolute;
      font-weight: 500;
      font-family: "Plus Jakarta Sans", sans-serif;
      top: 0;
      opacity: 0.6;
      color: var(--white-text);
    }
  }

  .section-2 {
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;

    .leading-text {
      font-size: 2rem;
      font-weight: 600;
      opacity: 0;
      transform: translateY(20px);
    }

    .leading-text-1 {
      margin-bottom: 1.5rem;
      width: 55%;

      position: relative;
    }
    .leading-text-2 {
      margin-top: 1.5rem;
      text-align: center;
    }

    .inner-sect {
      display: flex;
      width: 100%;

      > * {
        flex-basis: 50%;

        > img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .right {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        > p {
          margin-bottom: 1rem;

          > * {
            opacity: 0;
          }
        }
      }
    }
  }

  .section-3 {
    width: 100%;
    position: relative;

    .inner-sect-container-1 {
      z-index: 2;
      background: var(--dark-orange-bg);
    }

    .inner-sect-container-2 {
      z-index: 3;
      background-color: var(--rose-bg);
    }

    .inner-sect-container-3 {
      z-index: 4;
      background-color: var(--brown-bg);
    }

    .inner-sect-container {
      height: 100vh;
      width: 100%;
      position: sticky;
      top: 0;
      padding: 1rem 3rem;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;

      > nav {
        height: 10%;
        font-style: italic;
        font-size: 1.5rem;
        color: var(--white-text);
        opacity: 0;
      }

      .inner-sect {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90%;
        opacity: 0;

        .left {
          flex-basis: 40%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          > h1 {
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 1rem;
          }

          > p {
            margin-bottom: 1rem;
          }

          .btn {
            align-self: safe;
            justify-self: start;
            align-self: flex-start;
            background-color: #000;
            border-radius: 5px;
            padding: 0.5rem 0.75rem;
            border: none;
            outline: none;
            color: var(--white-text);
            transition: color 0.5s;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            overflow-y: hidden;
            position: relative;

            &:hover {
              color: var(--hover-text);

              .original {
                transform: translateY(-200%);
                animation: blink forwards linear 0.3s;
              }

              .copy {
                top: 0.5rem;
                animation: blink forwards linear 1s;
              }
            }

            .original {
              transform: translateY(0%);
              transition: all 0.15s ease-in-out;
            }
            .copy {
              position: absolute;
              top: 100%;
              transition: all 0.15s ease-in-out;
            }
          }
        }

        .right {
          flex-basis: 55%;
          height: fit-content;
          /* background-color: red; */
          padding: 1rem;
          border-radius: 5px;

          > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 5px;
            box-shadow: 0px -7px 20px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px -7px 20px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px -7px 20px 0px rgba(0, 0, 0, 0.75);
          }
        }
      }
    }
  }

  .section-4 {
    height: 100vh;
    width: 100%;

    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > * {
      opacity: 0;
    }

    > p {
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    .image-container {
      width: 100%;
      height: 60%;
      background-color: #fbb1b2;
      margin-bottom: 2rem;

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .btn {
      justify-self: start;
      align-self: center;
      background-color: #000;
      border-radius: 5px;
      padding: 0.5rem 0.75rem;
      border: none;
      outline: none;
      color: var(--white-text);
      transition: color 0.5s;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      overflow-y: hidden;
      position: relative;

      &:hover {
        color: var(--hover-text);

        .original {
          transform: translateY(-200%);
          animation: blink forwards linear 0.3s;
        }

        .copy {
          top: 0.5rem;
          animation: blink forwards linear 1s;
        }
      }

      .original {
        transform: translateY(0%);
        transition: all 0.15s ease-in-out;
      }
      .copy {
        position: absolute;
        top: 100%;
        transition: all 0.15s ease-in-out;
      }
    }
  }
}
